@model ShuperShoesApp.Entities.ArticlesByStoreViewModel

@{
    ViewBag.Title = SuperShoesApp.Resources.Main.Articles;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-featured">
    <header class="panel-heading">
        <h2 class="panel-title">@SuperShoesApp.Resources.Main.Articles</h2>
    </header>
    <div class="panel-body">

        @using (Html.BeginForm("GetByStore", "Articles", FormMethod.Post, new { @id = "form-required-fields" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Store_Id">@SuperShoesApp.Resources.Main.Store</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Store_Id, (IEnumerable<SelectListItem>)ViewData["Stores"], "Seleccione..", htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();", @id = "Store_Id" })
                    </div>
                </div>
                </fieldset>
        }
        <br />
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Default.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Default.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Default.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Default.Total_in_shelf)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Default.Total_in_vault)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.listArticles)
                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total_in_shelf)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total_in_vault)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                }
                    </tbody>

                </table>
</div>
</section>

