@model ShuperShoesApp.Entities.Store

@{
    ViewBag.Title = SuperShoesApp.Resources.Main.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @*<div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                    </div>*@

                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">


                <h3>@SuperShoesApp.Resources.Main.DeleteConfirm</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-actions no-color">
                            <input type="submit" value="@SuperShoesApp.Resources.Main.Delete" class="btn btn-default" /> |
                            @Html.ActionLink(SuperShoesApp.Resources.Main.Back, "Index", new { @class = "btn btn-default" })
                        </div>
                    }
                </div>


            </div>
        </section>
    </div>
</div>